@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F1F1F3;
    font-family: "Fira Sans", serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50%;
    padding-top: 40px;
}
nav h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 28px;
    font-weight: 700;
     line-height: 38px;
    letter-spacing: 0%;
    text-align: left;            
}
nav div button{
    height: 40px;
    width: 100px;
    box-sizing: border-box;
    border: 1.5px solid rgb(0, 106, 80);
    border-radius: 4px;
    color: rgb(0, 106, 80);
    font-weight: bold;
    background-color: white;
    font-size: 16px;
}
nav div button:hover{
    background-color: rgb(0, 106, 80);
    color: white;
}
header{
    margin-bottom: 50px;
}
/** hero section **/
.hero-section{
    display: flex;
    justify-content: center;
}
#hero{
    background-color: rgb(198, 228, 214);
    border-radius: 15px;
    width: 87%;
    height: 420px;
}
#hero .hero-content{
    display: flex;
    align-items: center;
    padding: 5%;
    justify-content: space-between;
}
.hero-content h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
}
.hero-content .text{
    width: 40%;
}
.hero-content .text p{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: -100px;
}
.hero-content .img{
    width: 370px;
}
.hero-content .img img{
    width: 100%;
}
.btn button{
    background-color: rgb(0, 106, 80);
    color: white;
    font-weight: bold;
    height: 40px;
    border: none;
    width: 210px;
    border-radius: 4px;
}
.p{
    position: absolute;
    margin-left: 140px;
    margin-top: 100px;
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
#second-sec h1{
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pillar-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}
.pillar-container .pil{
    height: 180px;
    padding: 10px;
    width: 250px;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.pil .light{
    width: 40px;
}
.pil .light img{
    width: 100%;
}
.pil{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* section three */
#tharde-section{
    display: flex;
    justify-content: center;
}
#tharde-section .sec-3{
    display: flex;
    flex-direction: column;
    
    gap: 20px;
    width: 85%;
}
.box-container{
    display: flex;
    gap: 20px;
}

.box-container .box-1{
    height: 200px;
    width: 330px;
    background-color: rgba(84, 144, 245, 0.2);
    padding: 20px;
    border-radius: 10px;
}
.box-container .box-2{
    height: 200px;
    width: 310px;
    background-color: rgb(198, 228, 214);
    padding: 20px;
    border-radius: 10px;
}
.box-container .box-3{
    height: 200px;
    width: 320px;
    padding: 20px;
    background-color: rgb(247, 235, 207);
    border-radius: 10px;
}
.box-3 button{
    height: 35px;
    width: 100px;
    border: none;
    background-color: rgb(255, 194, 57);
    font-weight: bold;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
}
.box-2 button{
    height: 35px;
    width: 100px;
    border: none;
    background-color: rgb(9, 161, 92);
    font-weight: bold;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}
.box-1 button{
    height: 35px;
    width: 100px;
    border: none;
    background-color: rgb(84, 144, 245);
    font-weight: bold;
    color: white;
    border-radius: 5px;
    margin-top: 25px;
}
.sec-3 h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
.sec-3 p{
    color: rgba(14, 14, 14, 0.7);
}
.info{
    background-image: url(../assets/quote-bg.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 20px 10px;
    background-color: #fff;
    border-radius: 10px;
    height: 150px;
    padding: 20px;
}
.imge{
    width: 45px;
}
.imge img{
    width: 100%;
}
.box-3 p{
    margin-bottom: 10px;
}
.box-2 p{
    margin-bottom: 20px;
}
/* section four*/
.sec-4{
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}
th, td{
    padding: 8px 60px;
    text-align: right;
}
.tr{
    display: flex;
    justify-content: space-between;
    font-weight: bold;    
}
td{
    height: 30px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
}
.td{
    background-color: rgb(198, 228, 214);
}
.table{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.tableh1{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
/* section five */
.new{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}
#news .main-news{
    display: flex;
    background-color: #fff;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    width: 85%;
}
.main-news .news-img{
    width: 600px;
}
.news-img img{
    width: 100%;
    border-radius: 20px;
}
.main-news .img-info p{
    width: 30%;
}
.icon{
    width: 110px;
}
.icon img{
    width: 100%;
}
.news-btn button{
    background-color: rgb(0, 106, 80);
    color: white;
    font-weight: bold;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}
.news-in{
    display: flex;
    background-color: #fff;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    width: 85%;
}
    
.news-img2{
    width: 600px;
}
.news-img2 img{
    width: 100%;
}
.main-news2{
    margin-left: 100px;
}
/* section six */
#donate-sec{
    display: flex;
    justify-content: center;
}
.donate-container{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.money-box{
    display: flex;
    gap: 10px;
}
.money-box div{
    height: 70px;
    width: 180px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.money-box div:hover{
    cursor: pointer;
    background-color: rgb(198, 228, 214);
}
.money-box div p{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
.input-fild input{
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    border: none;
    height: 50px;
    width: 800px;
    display: block;
    text-align: center;
    border: 1px solid rgb(198, 228, 214);
    outline: none;
}
.btn-d{
    height: 50px;
    width: 110px;
    background-color: rgb(0, 106, 80);
    border: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.btn-d:hover{
    background-color: #fff;
    color: rgb(0, 106, 80);
    border: 2px solid rgb(0, 106, 80);
}
/* saven section  */
#subscribe-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 80px;
}
.sub-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 85%;
    background-color: rgb(198, 228, 214);
    border-radius: 20px;
    padding: 10% 0%;
}
.sub-container h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
}
.sub-container > p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    width: 50%;
}
.inpt-btn input{
    height: 40px;
    width: 400px;
    outline: none;
    padding-left: 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
}
.inpt-btn button{
    height: 40px;
    background-color: rgb(0, 106, 80);
    border: none;
    color: white;
    font-weight: bold;
    width: 80px;
    margin-left: -10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}
footer{
    background-color: #fff;
}
footer .cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cont h1{
    margin-top: 30px;
}
.cont h1, .social{
    text-align: center;
}
.cont p img{
    text-align: center;
    padding-left: 10px;
}
.cont hr{
    width: 60%;
    margin-left: 20%;
}
.donate-text{
    font-size: 30px;
    margin-top: 50px;
}
.donate-container .pex{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}